.dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ADBFDF;
  margin-right: 2px;
}

.dots:last-child {
  margin-right: 18px;
}

.btn {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  border: 1px solid #ADBFDF;
  padding: 6px 8px;
  background: #D8E4FB;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #122945;
}