.dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #28A879;
  margin-right: 2px;
}

.dots:last-child {
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  border: 1px solid #28A879;
  padding: 6px 8px;
  background: #DBF8EF;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #00A775;
}